*.log
*.pkl.example
*.pkl
*/__pycache__/
*/runs/

pretrain/*
!pretrain/download_pubmedbert.sh

example/cleanterms/cleanterms*.txt

example/models/*
!example/models/labels.txt

example/data/*
!example/data/corpus*
!example/data/test/

preprocess/task_*
preprocess/preprocess*.json
preprocess/run_*.sh
tasks/

.idea/
.DS_Store
