*.log
*.pkl.example
*/__pycache__/
*/runs/
server/tmp_test/

pretrain/*
!pretrain/download_pubmedbert.sh

example/data/*
!example/data/corpus*
!example/data/test/

preprocess/task_*
preprocess/preprocess.json
preprocess/run_*.sh
tasks/

.idea/
.DS_Store
