{
  "model_name_or_path": "../example/models/bios_v1_ner_model",
  "data_dir": "../example/data/ner_predict/",
  "labels": "../example/models/labels.txt",
  "max_seq_length": 512,
  "output_dir": "../example/data/ner_predict/",
  "overwrite_output_dir": true,
  "cache_dir": "../example/data/ner_train/output/",
  "do_train": false,
  "do_eval": false,
  "do_predict": true,
  "buffer_size": 1000
}
