{
  "model_name_or_path": "../example/data/ner_train/output/",
  "data_dir": "/tmp",
  "labels": "../example/data/ner_train/labels.txt",
  "max_seq_length": 512,
  "output_dir": "/tmp",
  "overwrite_output_dir": true,
  "do_train": false,
  "do_eval": false,
  "do_predict": true
}
